<meta charset="utf-8">
<title><%= title %></title>
<!--指定浏览器内核，主要针对360等双核浏览器-->
<meta name="renderer" content="webkit">
<!-- 优先使用 IE 最新版本和 Chrome -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!-- 360浏览器 开启急速模式-->
<meta name="renderer" content="webkit">
<!-- 页面描述 -->
<meta name="description" content="不超过150个字符">
<!-- 页面关键词 -->
<meta name="keywords" content="">
<!-- 网页作者 -->
<meta name="author" content="name, email@gmail.com">
<!-- 搜索引擎抓取 -->
<meta name="robots" content="all">

<link rel="stylesheet" href="/admin/css/reset.css"/>
<link rel="stylesheet" href="/admin/css/index.css">